body{
    background-image: url("background.jpg");
    background-color: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    min-width: 700px;
    max-width: 1024px;
    filter: drop-shadow();
    margin-left: 170px;
    
}

header{
    background-color: #000033;
    font-family: Verdana, Georgia, 'Times New Roman', 
        Times, serif, sans-serif;
    color: #FFFFFF; 
}

h1{
    line-height: 200%;
    background-image: url("sunset.jpg");
    background-position: right;
    padding-left: 20px;
}

nav{
    font-weight: bold;
    background-color: skyblue;
    padding: 5px;
}

h2{
    color: skyblue;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: #000033;
}

span{
    font-weight: bold;
}

footer{
    text-size-adjust: .70em;
    text-decoration: italic;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-left: 170px;
}

nav{
    text-decoration: none;
    float: left;
    width: 160px;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 20px;
}

*{
    box-sizing: border-box;
}

#wrapper{
    background-color: blue;
}

#homehero{
    margin-left: 170px;
}

#yurthero{
    margain-left: 170px;
}
#trailhero{
    margin-left: 170px;
}

nav a:link{
    color: #000033;
}

main{
    background-color: white;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;
}

header, nav, main, footer {
    display: block;
}
