body{
    background-color: #3F2860;
    color: #3F2860;
}
#wrapper{
    background-color: #FFFFFF;
    min-width: 1200px;
    max-width: 1480px;
    box-shadow: 5px 5px 5px #828282;
    
}

header{
    background-color: #9BC1C2;
    background-image: url("lilyheader.jpg");
    background-position: right;
    background-repeat: no-repeat;
    height: 160px;
}

h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}

nav{
font-weight: bold;
padding: 1em;
float: left;
width: 160px;
}



a:link { 
    text-decoration: none; 
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 1em;
    color: #3F2860
}

a:visited { 
    text-decoration: none; 
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 1em;
    color: #497777;
}

a:hover {
    text-decoration: none; 
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 1em; 
    color: #A26100;
    border: 3px inset #333333;
}

a:active { 
    text-decoration: none; 
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 1em; 
}

header, nav, main, footer { display: block; }

footer{
    background-color: #9BC1C2;
    font-size: small;
    font: italic;
    text-align: center;
    padding: 1em;
}

img{
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}
.img{
    padding-left: 1em;
    padding-right: 1em;
}

*{
    box-sizing: border-box;
}

#hero{
    text-align: center;
}
